*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-color: white;
}

#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: 4s;
  animation: fill 0.5s ease forwards 2.5s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 435;
  stroke-dashoffset: 435;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 712;
  stroke-dashoffset: 712;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 452px;
  stroke-dashoffset: 452;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4){
  stroke-dasharray: 943px;
  stroke-dashoffset: 943;
  animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 392;
  stroke-dashoffset: 392;
  animation: line-anim 2s ease forwards 1.2s;

}
#logo path:nth-child(6) {
  stroke-dasharray: 299;
  stroke-dashoffset: 299;
  animation: line-anim 2s ease forwards 1.5s;
}

@keyframes line-anim {

  to{
    stroke-dashoffset: 0;
  }

}
@keyframes fill {
  from{
    fill: transparent;
  }
  to{
    fill: white;
  }

}

.background--custom {
  background: linear-gradient(90deg, #3BB4C0, #FEFED3, #034064);
  background-size: 300% 300%;
  animation: gradient 4s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
