*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #3BB4C0;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body{
  width: 100%;
  height: 100vh;
  background-color: white;
}

main {
  margin-left: 2rem;
  padding: 0;
}

body::-webkit-scrollbar{
  height: 0.50rem;
  width:0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.wrapper{
  display: flex;
  overflow-x: visible;
  margin-left: 3rem;
}
section{

  height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper section:nth-child(1){

  background-color: #034064;
  /* background: linear-gradient(to right, #034064, #63BC69); */

}
.wrapper section:nth-child(2){

  background-color:  #FEFED3;

}
.wrapper section:nth-child(3){

  background-color:  #FEFED3;

}
.wrapper section:nth-child(4){

  background-color:  #FEFED3;

}
.wrapper section:nth-child(5){

  background-color:  #FEFED3;

}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow-x: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #FEFED3;
}

.fa-secondary {
  color: #3BB4C0;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-540deg);
}

#logo{
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  animation-delay: 4s;
  animation: fill 0.5s ease forwards 2.5s;
  padding-right: 10%;
}

#logo path:nth-child(1) {
  stroke-dasharray: 435;
  stroke-dashoffset: 435;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 712;
  stroke-dashoffset: 712;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 452px;
  stroke-dashoffset: 452;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4){
  stroke-dasharray: 943px;
  stroke-dashoffset: 943;
  animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 392;
  stroke-dashoffset: 392;
  animation: line-anim 2s ease forwards 1.2s;

}
#logo path:nth-child(6) {
  stroke-dasharray: 299;
  stroke-dashoffset: 299;
  animation: line-anim 2s ease forwards 1.5s;
}

@keyframes line-anim {

  to{
    stroke-dashoffset: 0;
  }

}
@keyframes fill {
  from{
    fill: transparent;
  }
  to{
    fill: white;
  }

}

.background--custom {
  background: linear-gradient(90deg, #3BB4C0, #FEFED3, #034064);
  background-size: 300% 300%;
  animation: gradient 4s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 55%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
